body {
            overflow:hidden ;
}
.wrap{
            height: 100vh;
        }
        .header{
            background-color: rgb(36, 161, 36);
            color: white;
            width: 100%;
            height: 55px;
            border-bottom: 2px solid gray;
            padding-top: 10px;
        }
        .header h3 {
            margin-left: 20px;
            font-family: sans-serif;
        }
        .menu{

        }
        .menu a{
            text-decoration: none;
            border: 1px solid gray;
            float: inline-end;
            border-right: 0;
            border-top: 0;
            padding: 5px;
            color: green;
        }
        .menu a:hover{
            color: black;
            background-color: lightgray;
            font-size: 16px;
            border-bottom: 3px solid green;
        }
        #content{
            padding-top: 90px;
        }
        .login{
            box-shadow: 1px 1px 10px lightgray;
            border-radius: 15px;
            height: 380px;
            width: 500px;
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .login h4{margin-bottom: 40px; margin-top: 10px; font-weight: bold;}
        .footer{
            height: 45px;
            color: white;
            background-color: rgb(36, 161, 36);
            position: fixed;
            bottom: 0;
            width: 100%;
            padding-top: 7px;
        }

.small-font {
    font-size: 15px;
    margin-top: 0px;
}
#link {
    text-decoration: none;
}

.textBox {
    width: 300px;
    height: 35px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 5px;
}
.btn {
    width: 300px;
}