body{margin: 0; overflow:hidden;}
        .wrap{
            height: 100vh;
            display: flex;
        }
        .header{
            background-color: rgb(36, 161, 36);
            color: white;
            font-family: sans-serif;
            width: 100%;
            height: 55px;
            position: fixed;
            z-index: 100;
        }
        .header h3{
            margin-left: 20px;
            margin-top: 10px;
        }
        .image {
            border-radius: 100%;
            border: 1px solid green;
            margin-bottom: 5px;
        }
        .logo{
            height: 270px;
            margin-top: 40px;
            padding-top: 40px;
            border-bottom: 1px solid black;
        }
        .logo span {
            font-size: 20px;

        }
        .nav-left{
            width: 20%;
            height: 100vh;
            float: left;
            z-index: 10;
            border-right: 2px solid green;
            position: fixed;
        }
        /*.container{  
            border-top: 1px solid green;
        }*/
        /*.line{
            background-color: gray;
            height: 1px;
            width: 250px;
            margin-top: 22px;
            margin-bottom: 15px;
        }*/
        .items {
            height: 550px;
            width: 100%;
            padding-bottom: 140px;
            padding-top: 10px;
            padding-left: 10px;
            overflow: auto;
        }
            .items hr {
                width: 260px;
            }
        .items a{
            text-decoration: none;
            font-family: Calibri;
            color: black;
        }
        .items h3{
            border: 1px solid black;
            padding-top: 10px;
            font-size: 19px;
            height: 45px;
            width: 250px;
            background-color: white;
        }
        .items h3:hover{
            background-color: lightgray;
            color: black;
        }
        .span {
            float:left;
            font-size: 30px;
            font-family: Calibri;
            font-weight: bold;
            color: lightgray;
            margin-left: 10px;
            margin-top: 20px;
        }
        .direction {
            font-size: 22px;
            font-family: Calibri;
            font-weight: bold;
            color: gray;
        }
        .nav-right{
            background-color: lightgray;
            margin-left: 20%;
            width: 100%;
            height: 100vh;
        }
        .menu{
            width: auto;
            height: auto;
        }
        .title{
            margin-top: 50px;
            padding-top: 5px;
            border-bottom: 2px solid green;
            background-color: white;
        }
        .title h3{
            margin-top: 10px;
            margin-left: 15px;
            font-family: sans-serif;
            font-size: 22px;
            height: 26px;
        }
.dash_label {
    font-size: 25px;
}
        .title-item-container{
            width: 100%;
            height: 205px;
            border-bottom: 2px solid green;
        }
        .title-item{
            display: flex;
            height: auto;
            margin-top: 20px;
            width: 100%;
            margin: auto;
        }
        .title-item-parts{
            margin-left: 2.4%;
            width: 170px;
            height: 150px;
            margin-top: 25px;
            margin-bottom: 20px;
        }
        .item-head{
            height: 30%;
            width: auto;
            padding-top: 12px;
        }
        .item-head span{
            color: white;
            font-family: sans-serif;
            font-size: 17px;
        }
        .item-body{
            height: 70%;
            width: auto;
            margin-top: 10px;
        }
        .Author-container{
            width: 100%;
            height: auto;
            padding-top: 15px;
        }
        .Author{
            padding-left: 20px;
            width: 100%;
            overflow-y: scroll;
            height: 520px;
            display: flex;
            padding-bottom: 400px;
        }
        .Author-item-container{

        }
        .Author-Title{
            font-size: 22px;
            background-color: white;
            height: 40px;
            width: 100%;
            padding-left: 20px;
            position: fixed;
        }
        .Author-items{padding-top: 30px; padding-bottom: 10px;}
        .Author-item-parts{
            width: 120px;
            height: 150px;
            margin-top: 20px;
            margin-left: 25px;
            margin-bottom: 25px;
            background-color: ;
            border: 1px solid gray;
        }
        .Author-item-parts img {
            width: 100%;
            height: 148px;
        }
        .footer{
            font-family: sans-serif;
            height: 40px;
            width: 100%;
            position: fixed;
            bottom: 0;
            border-top: 2px solid green;
            background-color: white;
        }
        .footer h5{
            margin-top: 6px;
            margin-left: 20px;
        }
        .issue_footer {
            font-family: sans-serif;
            height: 250px;
            width: 100%;
            position: fixed;
            bottom: 0px;
            border-top: 1px solid black;
            background-color: lightgray;
}

        .searchbox {
            height: 200px;
            width: 100%;
            padding-top: 10px;
        }
        /*.txtSearch {
            width: 40%;
            height: 40px;
            border-radius: 30px;
        }
        .searchview {
            background-color: ;
            border-radius: 20px;
            height: 150px;
            width: 50%;
            margin: auto;
            overflow-y: auto;
        }*/

        .textbox-container{
            width: 500px;
            height: 460px;
            border-radius: 5px;
            background-color: white;
            border: 1px solid gray;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
        }
        .textbox-container label{
            font-size: 17px;
        }
        .input{
            border: 1px solid gray;
            border-radius: 3px;
            margin: 3px;
            padding-left: 5px;
        }
        .auto-style3 h5 {
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            margin-bottom: 20px;
        }
        .btn1 {
            padding-top:5px;
        }
        .btn2{
            padding-top:5px;
        }
        .gridview{
            border-left: 1px solid gray;
            background-color: white;
            padding-top: 1px;
            padding-left: 1px;
            width: 100%;
            height: 780px;
            padding-bottom: 250px;
            overflow-y: auto;
        }
        .container2{
            display: flex;
            width: 100%;
            height: auto;
        }

        .textbox-container2{
            width: 460px;
            height: 510px;
            background-color: white;
            border-radius: 5px;
            border: 1px solid gray;
            padding-left: 42px;
            padding-right: 42px;
            padding-top: 20px;
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 25px;
        }
        .delete-Box {
            border: 1px solid gray;
            border-radius: 5px;
        }

        .gridview-del {
            height: 650px;
            width: auto;
            overflow: auto;
            padding-bottom: 200px;
            margin-top: 10px;
            border-top: 1px solid lightgray;
        }
.gridviewclass {
    border-collapse: collapse;
    padding: 5px;
}

        .container_member {
            height: auto;
            margin-bottom: 1px;
        }
        .mem_footer {
            height: 250px;
            width: 100%;
            background-color: white;
            bottom: 0;
            border-top: 1px solid black;
            position: fixed;
        }
.mem_footer table{
    width: 900px;
    margin-left: 30px;
    margin-top: 15px;
}
        .mem_txtbox {
            margin-bottom:1px;
            border:1px solid gray;
            border-radius: 3px;
        }       
        .mem_view {
            background-color: white;
            width: 100%;
            height: 600px;
            overflow: auto;
            padding-bottom: 280px;
            padding-top: 1px;
        }
        .txtbox {
            margin: 3px 3px 3px 15px;
            border: 1px solid gray;
            border-radius: 3px;
        }
        .container_admin {
            height: 600px;
            display: flex;
        }
        .add_admin {
            background-color: white;
            border: 1px solid gray;
            border-radius: 5px;
            margin-top: 10px;
            padding-left: 25px;
            height: 420px;
            width: 750px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .adm_gridview {
            background-color: white;
            border-left: 1px solid gray;
            height: 750px;
            width: 100%;
            padding-top: 2px;
            padding-left: 1px;
            padding-bottom: 200px;
            overflow-y: auto;
        }
        .admin_footer{
            width: 100%;
            height: 250px;
            position: fixed;
            bottom: 0;
            border-top: 2px solid green;
            background-color: white;
        }
        .admin_footer table{
            width: 900px;
            margin-left: 30px;
            margin-top: 15px;
        }

        .issue_txtbox {
            border: 1px solid gray;
            border-radius: 3px;
            margin-top: 4px;
        }

        .issue_footer table {
            width: 900px;
            margin-left: 30px;
            margin-top: 15px;
        }
        .book_list_container {
            width: 100%;
            height: auto;
            padding-top: 120px;
        }
        .book_list {
            padding-top: 20px;
            padding-left: 40px;
            padding-right: 40px;
            width: 450px;
            height: 340px;
            background-color: white;
            margin: auto;
        }
        .book_list table {
            margin-top: 15px;
            margin-bottom: 20px;
        }