<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

  <connectionStrings>
    <add name="const" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\HP\Desktop\C# Project Group-II\C# Project Group-II\Mini_LibraryManagementSystem\Mini_LibraryManagementSystem\App_Data\LBDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>
